
* {
    background-color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.box {
    color:grey;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding:15px;
    flex: 1;
  
}

.box1 { background:pink;}
.box2 { background:grey;}
.box3 { background:black;}
.box4 { background:pink;}
.box5 { background:grey;}
.box6 { background:black;}
.box7 { background:pink;}
.box8 { background:grey;}

.container {
    display: flex;
   justify-content: center; 
}



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1 {
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(241, 131, 173);
}


html {
    background-image: url( "images/wallpaper.jpg");
}

.center {
    text-align: center;
}


p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h2 {
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(241, 131, 173);
}

